* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.main__title {
  font-family: "Forum", cursive;
}
