* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a:focus,
a:active {
  outline: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
div {
  display: block;
}

$ff-title: 'Forum', cursive;
$ff-link: 'Roboto', sans-serif;
$col-gold: #9d8665;
$col-black: #030303;
$col-dark-red: #710707;

body {
  font-family: $ff-title;
}

.main {
  display: block;
  &__container {
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 20px;
  }

  &__title h1 {
    font-family: $ff-title;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 90px;
    text-transform: uppercase;
    color: $col-gold;
    position: relative;
    margin-top: 140px;
    margin-left: 7px;
  }
  &__title h1::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -28px;
    background-color: #710707;
  }
  &__galary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 103px;
    column-gap: 20px;
  }
}
.item-main {
  position: relative;
  margin-bottom: 70px;
  left: 8px;
  &__img {
    height: 100%;
    max-width: 100%;
  }
  &__title h3 {
    margin-top: 23px;
    position: relative;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $col-black;
  }
  &__title h3::after {
    content: '';
    height: 2px;
    width: 300px;
    position: absolute;
    left: 0;
    bottom: -11px;
    background-color: $col-dark-red;
  }
  &__text p {
    margin-top: 22px;
    font-family: $ff-link;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: $col-black;
  }
  &__text p:last-child {
    font-size: 18px;
    margin-top: 8px;
  }
}


